<p id="notice"><%= notice %></p>

<p>
  <b>Amount:</b>
  <%= @scholarship.amount %>
</p>

<p>
  <b>Student:</b>
  <%= @scholarship.student %>
</p>

<p>
  <b>University:</b>
  <%= @scholarship.university %>
</p>


<%= link_to 'Edit', edit_scholarship_path(@scholarship) %> |
<%= link_to 'Back', scholarships_path %>
